@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Roboto", serif;
}

p {
  margin: 0;
}

/***** variables ********/
/****** mixins **********/
/******* Header ********/
header {
  margin: 0;
  text-align: center;
  font-family: "Shrikhand", serif;
  font-size: 19px;
  height: 63px;
  position: relative;
}

.header__retour {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  font-size: 20px;
  position: absolute;
  left: 0%;
  bottom: 40%;
  right: 90%;
}

/******** Lieu ********/
.lieu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  background-color: #EAEAEA;
  font-size: 16px;
  color: #353535;
  box-shadow: 2px 0px 4px 3px rgba(0, 0, 0, 0.2509803922);
}

.lieu__texte {
  font-family: "Roboto", serif;
}

/******** Accroche ******/
.accroche {
  text-align: center;
  background-color: whitesmoke;
  margin-top: 5px;
  padding: 40px 0 40px 0;
}

.accroche__titre {
  font-family: "Roboto", serif;
  font-weight: 700;
  height: 68px;
  font-size: 25px;
  line-height: 29px;
  margin: 0;
}

.accroche__texte {
  font-size: 18px;
  font-weight: 200;
  font-family: "Roboto", serif;
  padding-bottom: 30px;
}

.accroche__btn {
  color: white;
  font-weight: 300;
  font-size: 17px;
  height: 50px;
  width: 250px;
  border-radius: 2rem;
  box-shadow: 0px 9px 18px 0px rgba(0, 0, 0, 0.32);
  border: none;
  cursor: pointer;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}
.accroche__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;
}

/********* Fonctionnement *********/
.Fonctionnement {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.Fonctionnement__titre {
  margin: 10px 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto", serif;
}

.Fonctionnement__ensemble {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}

@media all and (min-width: 1024px) {
  .Fonctionnement__ensemble {
    width: 98%;
    flex-direction: row;
    justify-content: space-between;
  }
}
.Fonctionnement__btn {
  display: flex;
  align-items: center;
  height: 72px;
  margin: 15px 0;
  border-radius: 20px;
  border: none;
  gap: 4%;
  background-color: #f6f6f6;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  cursor: pointer;
}

@media all and (min-width: 1024px) {
  .Fonctionnement__btn {
    width: 30%;
  }
}
.Fonctionnement__btn--numero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  left: -14px;
  bottom: -2px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #9356DC;
  font-family: "Roboto", serif;
  padding: 1%;
}

.Fonctionnement__btn--icone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 35px;
  color: #7E7E7E;
}

.Fonctionnement__btn:hover > .Fonctionnement__btn--icone {
  color: #9356DC;
}

.Fonctionnement__btn--texte {
  width: 211px;
  height: 15px;
  font-weight: 500;
  font-family: "Roboto", serif;
}

/****************  Restaurants ***********/
.Restaurants {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px 0 66px 0;
  background-color: #F6F6F6;
}

.Restaurants__titre {
  width: 90%;
  margin: 20px auto;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  font-family: "Roboto", serif;
}

.Restaurants__ensemble {
  width: 90%;
  margin: auto;
}

@media all and (min-width: 768px) {
  .Restaurants__ensemble {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.Restaurants__card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  margin: auto;
  margin-bottom: 18px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  cursor: pointer;
}

@media all and (min-width: 768px) {
  .Restaurants__card {
    width: 47%;
    margin: 0;
    margin-bottom: 4%;
  }
}
.Restaurants__card--img {
  position: relative;
  overflow: hidden;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
}

.Restaurants__card--img img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

.Restaurants__card--img--new {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 80px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #278870;
  font-weight: 500;
  font-family: "Roboto", serif;
}

.Restaurants__card--contenu {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
}

.Restaurants__card--texte {
  display: flex;
  align-items: flex-start;
  height: auto;
  min-height: 75px;
}

.Restaurants__card--contenu--texte {
  width: 90%;
  padding-left: 18px;
}

.Restaurants__card--contenu--texte h4 {
  width: 267px;
  height: 20px;
  margin: 10px 0 0 0;
  font-size: 18px;
  font-family: "Roboto", serif;
}

.Restaurants__card--contenu--texte p {
  height: 24px;
  font-weight: 300;
  font-size: 17px;
  font-family: "Roboto", serif;
  margin: 5px 0 0 0;
}

.Restaurants__card--contenu i {
  position: absolute;
  top: 76%;
  right: 7%;
  font-size: 25px;
}

.fa-heart::before {
  content: "\f004";
}

.coeur__btn::after {
  z-index: -1;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f004";
  color: transparent;
  background: linear-gradient(357deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  transform-origin: bottom;
  -webkit-text-stroke: 1px;
}

.coeur__btn {
  width: 28px;
  z-index: 0;
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-size: 25px;
  padding: 0;
  border: transparent 0px solid;
  background-color: transparent;
  -webkit-text-stroke: 1px white;
  cursor: pointer;
}

.page__img {
  /*width: 100%;
  height: 275px;
  object-fit: cover;
  position: relative;*/
  max-width: 100%;
  width: 100%;
  position: relative;
  height: 350px;
}

.page__img img {
  width: 100%;
  height: 110%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page__menu {
  /*margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  position: relative;
  z-index: 0;*/
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
  z-index: 0;
}

@media all and (min-width: 1024px) {
  .page__menu {
    max-width: 1024px;
    margin: auto;
  }
}
.page__menu--devanture {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  margin: auto;
}

@media all and (min-width: 1024px) {
  .page__menu--devanture {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
.page__menu--devanture h2 {
  display: flex;
  /*align-items: center;*/
  font-size: 35px;
  width: 95%;
  font-family: "Shrikhand", serif;
}

.page__menu--devanture i {
  height: 21px;
}

.page__menu--menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  row-gap: 18px;
  width: 100%;
}

.page__menu--menu h3 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  text-align: left;
  margin-left: 10px;
}

.page__menu--menu h3::after {
  display: block;
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99E2D0;
}

.page__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 20px;
  font-family: "Roboto", serif;
  background-color: whitesmoke;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}

.page__card--texte {
  gap: 5px;
  font-family: "Roboto", serif;
}

.page__card--texte h4 {
  margin: 2px 0 7px 0;
  font-size: 18px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 19px;
}

.page__card--texte p {
  font-weight: 300;
  font-family: "Roboto", serif;
}

.page__card--prix {
  font-family: "Roboto", serif;
  font-weight: 500;
}

.page__menu--btn {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/****************** FOOTER *****************/
.footer {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
  padding: 22px 25px;
  background-color: #404040;
  color: #ffffff;
}

@media all and (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
.footer__titre {
  font-size: 24px;
  font-family: "Shrikhand", serif;
  margin: 13px;
}

.footer__info p {
  font-family: "Roboto", serif;
  font-size: 16px;
}

.footer__lien {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: whitesmoke;
}

@media all and (min-width: 768px) {
  .footer__lien {
    display: flex;
    flex-direction: row;
  }
}
.footer__lien p {
  margin: 0;
  padding-top: 10px;
}

.footer__lien--prop {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media all and (min-width: 768px) {
  .footer__lien--prop {
    margin-left: 20px;
  }
}
.footer__lien--prop p {
  padding-left: 8px;
}

@media all and (min-width: 768px) {
  .footer__lien--info {
    margin-left: 20px;
  }
}/*# sourceMappingURL=style.css.map */