/******** Lieu ********/
.lieu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 17px; 
    background-color: #EAEAEA;
    font-size: 16px;
    color: #353535;
    box-shadow: 2px 0px 4px 3px #00000040;
}