* {
    box-sizing: border-box;
}
html {
    margin: 0;
}
body {
    margin: 0;
    width: 100%;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-family: "Roboto", serif;
}
p {
    margin: 0;
}